<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>My Profile</title>
    <div th:replace="~{common :: head}"></div>
</head>
<body>
<div class="container">
    <div th:replace="~{common :: navigation}"></div>

    <img src="https://res.cloudinary.com/teepublic/image/private/s--QEVcNm0R--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1500895904/production/designs/1761359_1.jpg" />
    <h2><span th:text="${user.firstName}" /> <span th:text="${user.lastName}" /></h2>
    <h3>Username: <span th:text="${user.username}"></span></h3>
    <h4>Birthday: <span th:text="${user.dateOfBirth}"></span></h4>
    <p th:text="${user.bio}"></p>

    <div th:if="${myProfile}">
        <h3>Create a Post</h3>
        <form action="/post" method="POST">

            <input type="test" placeholder="Write your thoughts here..." name="body" /><br />
            <input type="submit" />
        </form>
    </div>

    <div th:if="${!myProfile}">
    <h3>Posts by <span th:text="${user.username}"></span></h3>
        <ul th:each="post : ${user.posts}">
            <li><p th:text="${post}"></p></li>
        </ul>
    </div>
</div>

</body>
</html>