<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <div th:replace="~{common :: head}"></div>
</head>
    <body>
        <div th:replace="~{common :: navigation}"></div>

        <h2>Create an account</h2>
        <form action="/signup" method="POST">
            First Name: <input type="text" name="firstName" required /><br>
            Last Name: <input type="text" name="lastName" required /><br>
            Date of Birth: <input type="date" name="dateOfBirth" required /><br>
            Bio: <input type="text" name="bio" required /><br>
            Username: <input type="text" name="username" required /><br>
            Password: <input name="password" type="password" required /><br>
            <input type="submit" />
        </form>
    </body>
</html>