<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:replace="~{common :: head}"></div>

</head>
<body>
<div th:replace="~{common :: navigation(${user})}"></div>
    <h1>All Fellows</h1>
    <div class="container">
        <div th:each="aUser : ${allUsers}" >
            <div>
                <img src="http://placehold.it/100">
                <a th:href="${'/users/' + aUser.id}"><h3 th:text="${aUser.username}"></h3></a>
                <p th:text="${aUser.bio}"></p>
            </div>

        </div>
    </div>

</body>
</html>